default:
    current:
        - env-default-2016_08_25
        - env-default-2016_09_22
        - env-default-2016_10_27
    next:
        - env-default-2016_10_27
        - env-default-2017_01_23
experimental:
    current:
        - env-experimental-2017_01_24
